<div id="dashboard-container" class="dashboard-background">
    <app-navbar></app-navbar>
    <form class="col-12 p-0" [formGroup]="form" (ngSubmit)="submit()">
        <div class="col-12 p-0 dashboard-content-section d-flex justify-content-center align-items-center content">
            <div class="col-9 p-2 h-100 planet-card-container">
                <div class="col-12 p-0 mb-2 d-flex align-items-center justify-content-end">
                    <button class="btn btn-sm btn-primary rounded-0 mr-2">
                        Reset
                    </button>
                    <button class="btn btn-sm btn-info rounded-0 mr-2">
                        Geektrust Home
                    </button>
                    <button class="btn btn-sm btn-success rounded-0">
                        Find Falcon
                    </button>
                </div>
                <!-- First Panet -->
                <div class="col-12 p-0 mb-2 card planet-card">
                    <div class="col-12 p-2 pb-1 mb-1 f-700 planet-cart-header">Destination 1</div>
                    <div class="col-12 px-2 pb-2 d-flex">
                        <div class="d-flex flex-1 flex-column">
                            <label class="mb-0" for="planets"> Planet </label>
                            <select formControlName="planets" id="planets" (change)="getVehicles();">
                                <option value="" disabled selected hidden>Select a planet</option>
                                <option *ngFor="let planet of planets;" [value]="planet">
                                    {{planet.name}}
                                </option>
                            </select>
                        </div>
                        <div class="d-flex flex-fill">
                            <div *ngFor="let vehicle of vehicles;let i = index">
                                <input type="radio" formControlName="vehicle1" id="veh-i" [value]="vehicle"
                                    (change)="submit()">{{vehicle.name}}
                            </div>
                            <div class="col-9 d-flex">
                                <div class="radio-toolbar"
                                    *ngFor="let category of (serviceOrderTypeState | async)?.serviceOrderCategories">
                                    <input type="radio" name="serviceorder_category_id"
                                        [attr.disabled]="!category?.enable || null"
                                        formControlName="serviceorder_category_id" id="{{category.description}}"
                                        value="{{category.id}}">
                                    <label for="{{category.description}}"
                                        [ngClass]="{'cursor-not-allowed disabled': !category?.enable}">
                                        {{ category.description }}
                                    </label>
                                    <span *ngIf="!category?.enable" class="btn btn-sm btn-dark"
                                        style="margin-right: 1px; margin-left: -1px"
                                        title="Locked {{category.description}}">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / First Panet -->
                <!-- Second Panet -->
                <div class="col-12 p-0 mb-2 card planet-card">
                    <div class="col-12 p-2 pb-1 mb-1 f-700 planet-cart-header">Destination 2</div>

                </div>
                <!-- / Second Panet -->
                <!-- Third Panet -->
                <div class="col-12 p-0 mb-2 card planet-card">
                    <div class="col-12 p-2 pb-1 mb-1 f-700 planet-cart-header">Destination 3</div>

                </div>
                <!-- / Third Panet -->
                <!-- Fourth Panet -->
                <div class="col-12 p-0 mb-2 card planet-card">
                    <div class="col-12 p-2 pb-1 mb-1 f-700 planet-cart-header">Destination 4</div>

                </div>
                <!-- / Fourth Panet -->
            </div>
            <div class="col-3 h-100 bg-white">2</div>
        </div>
    </form>
    <footer id="sticky-footer" class="py-2 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Your Website</small>
        </div>
    </footer>
</div>
