.dashboard-background {
    background-image: url('./../../assets/stars-wallpaper.jpg');
    width: 100%;
    height:100vh;
}

.dashboard-content-section {
    height: calc(100vh - 104px);
    overflow: auto;
}

.planet-card-container {
    background-color: #f5f5f5;
}

.planet-card {
    min-height: 110px;
    border: 1px solid #ececec;
}

.planet-cart-header {
    border-bottom: 1px solid #ffd4a7;
    color: #717171;
}