/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    font-family: 'Exo 2', sans-serif;
}

/* font-weight */
.f-300 {
    font-weight: 300;
}
.f-400 {
    font-weight: 400;
}
.f-500 {
    font-weight: 500;
}
.f-700 {
    font-weight: 700;
}